.team{
  padding: 5px 2px;
  height: 100vh;
  box-sizing: border-box; 	
}

.text{
width: 97%;
margin: 30px auto;
}

.row{
	position: relative;
	width: 100%;
	box-sizing: border-box;
}

.row h1{
	text-align: center;
	margin: 0;
	padding-left: 0;
	font-size: 70;
	text-transform: uppercase;
}

.row h1 span{
	color:	rgb(228,39,0);
}

.row p{
	margin: 20px 100px 0px;
	padding-left: 20px;
	font-size: 17px;
	border-left: 9px solid #2c2b2b;
}

.mgt50px{
	margin-top: 50px;

}

.row .column{
	margin: 0 7px;
	position: 0;
	position: relative;
	width: calc(20% - 14px);
	min-height: 250px;
	background: #ccc;
	float: left;
	overflow: hidden;
	box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);

}

.row .column .imgBox{
	position: relative;
}

.row .column .imgBox img{
	width: 110%;
	transition: 3s;
}

.row .column:hover .imgBox img{
	transform: scale(1.5);
}

.row .column .details{
	position: absolute;
	bottom: -120px;
	left: 0;
	padding: 5px;
	box-sizing: border-box;
	background: rgba(0,0,0,.9);
	width: 100%;
	transition:.5s;
}
.row .column:hover .details{
	bottom: 0px;
}

.row .column .details h3{
	margin: 0;
	padding: 0;
	color: #fff;
	font-weight: 700;
	text-align: right;
	text-transform: uppercase; 
}

.row .column .details h3 span{
	margin: 0;
	padding:0;
	font-size: 13.2px;
	color: #f00;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
	top: -6px;
}

footer {
  margin-top: 1.5rem;
  background: #333;
  color: #fff;
  text-align: left; 
  padding: 1rem;
}